.overall{
  margin: 20px;
}

.button-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  text-align: center;
  align-items: center;
}

.city-button{
  margin-top: 15px;
  border-style: solid;
  font-size: 5vw;
}

.city-input{
  font-size: 5vw;
}

.active-city-button{
  margin-top: 15px;
  font-weight: bolder;
  background-color: darkgray;
  border-color: darkgray;
  border-style: solid;
  font-size: 5vw;
}

.add-section{
  margin-top: 20px;
}

.add-button{
  margin-left: 5px;
  font-size: 5vw;
}

.login-section{
  margin-top: 20px;
}

.display-name{
  font-size: 7vw;
  text-decoration: none;
}

.auth-input{
  font-size: 5vw;
  margin-top: 3px;
}

.login-button{
  margin-left: 5px;
  font-size: 5vw;
}

.temp-text{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  font-weight: bold;
  font-size: 6vw;
}

.time-temp-con{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
}

.time-temp-data{
  margin-top: 20px;
  font-size: 5vw;
}